<h1> Detailed information about car </h1>
<ul>
<li> <%= @car.brand %></li>
<li> <%= @car.model %></li>
<li> <%= @car.fuel_type %></li>
<li> <%= @car.transmission %></li>
<li> <%= @car.year_of_production %></li>
</ul>
<p> <%= link_to "Back to cars", cars_path %> </p>
